body{
}
.hide{
  visibility: hidden;
}
#video{
    border: 3px solid black;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
}
.btn{
     font-size: 30px !important;
    background-color: rgb(6, 60, 146) !important; 
}
#navbar{
    background-color: rgb(6, 60, 146) !important;
}