
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
  height: 60px;
  width: 60px;
  font-size: 30px !important;
}
#submit{
    display: block;
    padding: 12px 26px;
    font-size: 20px;
    margin-left: 20px;
}